#for streamlit
streamlit==1.2.0
streamlit-webrtc==0.31.3
av==8.1.0

#for Deep learning model
tensorflow==2.8.0
keras==2.8.0

#Image
Pillow==9.0.1
scikit-image==0.19.2


#other
numpy==1.20.3
pandas==1.2.4
matplotlib==3.5.1
