#for streamlit
streamlit==1.2.0
streamlit-webrtc==0.31.3
av

#for Deep learning model
tensorflow==2.5.1

#Image
Pillow

#other
numpy==1.19.5

#pages class requirements
# scikit-learn==0.24.2
# pandas==1.2.4
# streamlit==0.83.0
# matplotlib==3.4.2
# seaborn==0.11.1
# numpy==1.20.3